.board {
  min-height: 100vh;
  grid-area: board;

  display: flex;
  justify-content: center;
  align-items: center;

  .turn {
    .turn-black {
      background-color: black;
      color: white;
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 7px;

      &.playing {
        box-shadow: inset 0px 0px 2px 5px #ad7f0b;
        // border: 5px solid rgb(173, 127, 11);
      }
    }
    .turn-white {
      background-color: white;
      color: black;
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 7px;

      &.playing {
        box-shadow: inset 0px 0px 2px 5px #ad7f0b;
        // border: 5px solid #ad7f0b;
      }
    }
  }

  table {
    border-spacing: 0;
    color: black;
    font-size: 34px;

    display: flex;
    flex-direction: column;

    background-color: #646f40;

    tr {
      display: flex;
      .td {
        width: 50px;
        height: 50px;
        padding: 0;
        cursor: pointer;
        text-align: center;

        &.eatable {
          border-radius: 50%;
        }

        &.white {
          background-color: #f0d9b5;
        }
        &.black {
          background-color: #b58863;
        }

        &.selected {
          background-color: #646f40;
        }

        &.mark {
          display: flex;
          justify-content: center;
          align-items: center;

          &:hover {
            background-color: rgb(132 121 78);
          }

          .span {
            pointer-events: none;
            background-color: #646f40;
            border-radius: 50%;
            width: 10px;
            height: 10px;
          }
        }
      }
    }
  }
}
